{% extends '../layouts/base.html' %}

{%block opcoes-navbar%} 
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Opções</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item fw-bold" href="{% url 'book.create' %}">Adicionar livro</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item fw-bold" href="{% url 'user.config' %}">Configurações</a></li>
    </ul>
</li>
{% endblock opcoes-navbar%}

{% block btn-login %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <!-- <i class="bi bi-person-fill me-1" style="font-size: 19px;"></i> -->
      Nome do usuário</a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item fw-bold" href="{% url 'user.profile' %}">Meu perfil</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item fw-bold" href="#!">Sair</a></li>
  </ul>
</li>
{% endblock btn-login %}

{% include 'navbar.html' %}
{% block section %}

<div class="text-center m-4">
  <h2 class="fw-bolder">Dados pessoais</h2>
</div>

<form class="col-md-6 offset-md-3 my-3 fw-bolder">

  <div class="form-group row ">
    <div class="col-md-6 mb-2">
      <div class="form-outline">
        <label class="form-label" for="form3Example1">Nome</label>
        <input type="text" id="name" class="form-control" value="nome" />
      </div>
    </div>

    <div class="col-md-6 mb-2">
      <div class="form-outline">
        <label class="form-label" for="form3Example2">Sobrenome</label>
        <input type="text" id="lastname" class="form-control" value="sobrenome" />
      </div>
    </div>
  </div>

  <div class="form-outline mb-2">
    <label class="form-label" for="form3Example2">Email</label>
    <input type="email" id="email" class="form-control" value="nome@algo.com" />
  </div>

  <div class="form-outline mb-2">
    <label class="form-label" for="form3Example2">Senha</label>
    <input type="password" id="password" class="form-control" value="estAeaSenha!@" />
  </div>

  <div class="container py-4">
    <div class="text-center">
      <button type="button" class="btn btn-outline-dark mt-auto fw-bold btn-dark-secondary">Salvar</button>
    </div>
  </div>
</form>
{% endblock section %}