{% extends 'layouts/base.html' %}
{%load static%}
{% block opcoes-navbar %} {% endblock %}
{% block section %}
<div class="container font-sizing">
    <section class="dark-section">
        <h3 class="title dark-white font-sizing" tabindex="0">Meus livros</h3>
        <div class="d-flex flex-row-reverse bd-highlight mx-5 px-lg-8">
            <form action="{% url 'book.create' %}">
                <!-- <i class="bi bi-plus-circle d-block d-sm-block d-md-none" style="font-size:32px"></i> -->
                </span>
                <button class="btn btn-primary btn-terciary px-lg-8 fw-bold" type="submit" style="border-radius: 50px;">
                    Adicionar livro
                </button>
            </form>
        </div>



        <div class="px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for book in books %}
                <div class="col-12 mb-5">
                    <div class="card h-100 card-color col-md-12 col-sm-12 col-12 card-shadow" style="background-color: white; filter: grayscale(25%);">                        
                        <div class="card-body p-4" style="background: inherit;">
                            <div class="text-center" style="background: inherit;">
                                <h5 role="textbox" class="fw-bolder col-12" tabindex="0" style="background: inherit;
                                -webkit-background-clip: text;
                                        background-clip: text;
                                color: transparent;
                                filter: invert(1) grayscale(25%) drop-shadow(.07em .07em .05em black);">{{ book.title }}</h5>
                            </div>
                        </div>
                        <div class="card-footer p-2 pt-0 border-top-0 text-center" style="background: inherit;">                            
                            <div class="d-flex  justify-content-around align-items-center" style="background: inherit;">
                                <a id="btnRead" class="btn btn-dark  fw-bold btn-dark-primary"
                                    href="{% url 'book.show' book.id book.current_page %}" type="submit" aria-label="Ler {{ book.title }}">Ler livro</a>
                                <div style="background: inherit;">
                                    <a href="{% url 'book.delete' book.pk %}" style="background: inherit;
                                    -webkit-background-clip: text;
                                            background-clip: text;
                                    color: transparent;
                                    filter: invert(1) grayscale(50%) drop-shadow(.07em .07em .07em black);"><i class="bi bi-trash font-sizing" aria-label="Deletar {{ book.title }}" ></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock section %}

{% block scripts %}

{% endblock scripts %}