{% extends 'layouts/base.html' %}
{% block styles %}
<style>
    .section-read {
        white-space: pre;
    }
</style>
{% endblock %}
{% block section %}

<div class="container font-sizing">
    <div class="text-center m-4">
        <h2 class="fw-bolder" aria-label="{{ book.title }}">{{ book.title }}</h2>
    </div>

    <form class="mx-2 mt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-read" tabindex="0">
                    {{ content_book | safe }}
                </div>
                <h6>
                    <label for="page" class="col-sm-10 col-form-label" aria-label="Página {{ book.current_page }}"  tabindex="0">Página {{ book.current_page }}</label>
                </h6>
            </div>
        </div>
        <!-- <div class="container"> -->
        <div class="text-center mt-auto">
            {% if book.current_page > 0 %}                            
            <button type="submit" class="btn fw-bold my-4 btn-text-color" aria-label="Voltar à página anterior" formaction="{% url 'book.show' book.id pg|add:'-1' %}">
                <i class="bi bi-arrow-left i-prev font-sizing"></i>
            </button>
            {% endif %}
            <button type="submit" class="btn fw-bold mx-sm-4 mx-md-4 mx-lg-5 btn-text-color" aria-label="Ícone para voltar ao início" formaction="{% url 'book.index' %}"><i class="bi bi-house i-home font-sizing"></i></button>
            
            <button type="submit" class="btn fw-bold my-4 btn-text-color" aria-label="Ir para a página seguinte" formaction="{% url 'book.show' book.id pg|add:'1' %}">
                <i class="bi bi-arrow-right arrow-dark i-next font-sizing"></i>
            </button>

        </div>
        <!-- </div> -->

    </form>
</div>
{% endblock section %}