/* ..................................................................................................... */
/* ALTO CONTRASTE */
/* .contrast nav, */
.contrast,
/* .contrast div, */
/* .contrast li, */
.contrast ol,
.contrast header,
/* .contrast footer, */
.contrast .dark-section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}


.contrast h1,
/* .contrast h2, */
/* .contrast h4, */
.contrast h5,
.contrast h6,
/* .contrast p, */
/* .contrast label, */
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast b,
.contrast u {
    color: rgb(255, 255, 255) !important;
}

.contrast span {
    color: black;
}


/* .contrast button, 
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}*/


.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: rgb(255, 255, 255) !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast i, a, .dark-p,
.contrast h3, .dark-text {
    color: #000;
}


.contrast input[type=text] {
    color: white;
}


.nav-link {
    color: #000;
}

.contrast .btn-dark-secondary {
    font-weight: bolder;
    background-color: #5533ff;
    border: #5533ff;
    color: white;
    box-shadow: 0px 1px 9px 2px rgba(80, 75, 75, 0.616);
}

.contrast .btn-dark-secondary:hover {
    background-color: #06b8d8;
    color: black;
    box-shadow: 0px 1px 9px 2px rgba(80, 75, 75, 0.616);
}

.contrast .btn-dark-primary {
    background-color: rgb(0, 0, 0);
    border: #000;
    color: yellow;
}

.contrast .btn-dark-primary:hover {
    background-color: #090979;
    border: #000;
    color: yellow;
}

.contrast .btn-text-color {
    color: yellow;
}

.contrast .hero-area .overlay {
    background: #000;
    height: 10%;
}


nav {
    background: #3620A1;
    background: linear-gradient(45deg, #3620A1 40%, #25ddf5 100%);
}

.contrast .b-section {
    background: #000;
}

.dropdown-menu {
    background: #25ddf5;
    background: linear-gradient(45deg, #25baf5 40%, #57e2f5 100%);
}


.rad:hover, .rad:focus,
.contrast #toggleDark:hover {
    color: #1e2125;
    background-color: #06b8d8;
    border-radius: 50px;
}

.contrast .dark-font,
.contrast .i-home, .contrast .i-prev,
.contrast .i-next, .contrast #services .services-item p,
.contrast .hero-area .contents p,
.contrast #services .services-item h4 {
    color: rgb(255, 251, 9);
}

.contrast #services .services-item .icon i {
    font-size: 40px;
}

.contrast #services .services-item h4 {
    font-size: 22px;
    line-height: 1.5;
}

.contrast #services .services-item p {
    font-size: 18px;
}

.contrast h1, .contrast .hero-area .contents h2, .contrast h3, .contrast h4 {
    color: yellow;
}

/* FOCUS */

.contrast h1:focus, .contrast h2:focus, .contrast h3:focus, .contrast h4:focus, .contrast h5:focus, .contrast h6:focus {
    border: white 2px solid;
    outline: 0;
    box-shadow: 0 0 2px 1px white;
}


.contrast p:focus {
    border: white 2px solid;
    outline: 0;
    box-shadow: 0 0 2px 1px white;
}

.contrast .btn:focus {
        border: #ffffff 2px solid;
        outline: 0;
        box-shadow: 0 0 4px 1px white;

}

.contrast .hero-area .contents .btn-border:focus {
    border: black 3px solid;
    width: 220px;
    box-shadow: 0 0 5px 1px white;
}

.contrast #services .services-item:focus {
    border: yellow 3px solid;
    outline: 0;
    box-shadow: 0 0 15px 2px rgb(0, 0, 0);
  }