<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Biblioteca Especial</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/dark.css' %}">
        
    </head>
    <body>
        <!-- Navigation-->
        
        <nav class="navbar navbar-expand-lg fw-bolder" style="color: black;">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">Biblioteca Especial</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 fw-bolder">

                        {% block opcoes-navbar %} 
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Sobre</a></li>
                        {% endblock opcoes-navbar %}
                    </ul>

                    <i class="bi bi-brightness-high-fill mx-2" id="toggleDark" style="cursor:pointer;" onclick="window.toggleContrast()"></i>
                    {% block btn-login %} {% endblock btn-login %}
                </div>
            </div>
        </nav>
        <!-- Header-->
        {% block header %} {% endblock header %}
        <!-- Section-->
        {% block section %} {% endblock section %}

        {% block footer %} {% endblock footer %}
        <!-- Footer--
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Biblioteca Especial 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
