{% extends 'base.html' %}

{%block opcoes-navbar%} 
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Opções</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item fw-bold" href="{% url 'addLivro' %}">Adicionar livro</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item fw-bold" href="{% url 'config' %}">Configurações</a></li>
    </ul>
</li>
{% endblock opcoes-navbar%}

{% block btn-login %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <!-- <i class="bi bi-person-fill me-1" style="font-size: 19px;"></i> -->
        Nome do usuário</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item fw-bold" href="{% url 'perfil' %}">Meu perfil</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item fw-bold" href="#!">Sair</a></li>
    </ul>
</li>
{% endblock btn-login %}

{% block section %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Título</h5>
                </div>
                <div class="card h-100">
                    <!-- Product image-->
                    <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> -->
                    <!-- Product details-->
                    <div class="card-body p-4 card-height">
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                        <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto fw-bold" href="{% url 'livro'%}">Ler livro</a></div> -->
                        <form action="">
                            <button id="btnRead" class="btn btn-outline-dark mt-auto fw-bold btn-dark-primary" formaction="{% url 'livro'%}" type="submit">Ler livro</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Título</h5>
                </div>
                <div class="card h-100">
                    <!-- Product image-->
                    <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> -->
                    <!-- Product details-->
                    <div class="card-body p-4">
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <!-- <a class="btn btn-outline-dark mt-auto fw-bolder" href="{% url 'livro'%}">Ler livro</a> -->
                            <form action="">
                                <button id="btnRead" class="btn btn-outline-dark mt-auto fw-bold btn-dark-primary" formaction="{% url 'livro'%}" type="submit">Ler livro</button>
                            </form>
                        </div>
                    </div>
                    <!-- <div class="container">
                        <div class="text-center fixed-bottom mb-5">
                          <button type="submit" class="btn btn-outline-dark fw-bold" formaction="{% url 'biblioteca' %}">Voltar</button>
                          <button type="submit" class="btn btn-outline-dark fw-bold" formaction="">Salvar</button>
                        </div>
                      </div> -->

                    
                </div>
            </div>

            <div class="col mb-5">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Título</h5>
                </div>
                <div class="card h-100">
                    <!-- Product image-->
                    <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> -->
                    <!-- Product details-->
                    <div class="card-body p-4">
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <form action="">
                                <button id="btnRead" class="btn btn-outline-dark mt-auto fw-bold btn-dark-primary" formaction="{% url 'livro'%}" type="submit">Ler livro</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Título</h5>
                </div>
                <div class="card h-100">
                    <!-- Product image-->
                    <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> -->
                    <!-- Product details-->
                    <div class="card-body p-4">
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <form action="">
                                <button id="btnRead" class="btn btn-outline-dark mt-auto fw-bold btn-dark-primary formaction="{% url 'livro'%}" type="submit">Ler livro</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- <button type="submit" id="myButton">but</button> -->
            
        </div>
    </div>
</section>
{% endblock section %}