{% extends "base.html" %}
{% load static %}
 <head>
  <link rel="stylesheet" href="{% static 'dark-login.css' %}">
 </head>
{% block section %}
<section class="v-100 fw-bolder" style="background-color: #263249;">
    <div class="container py-4 vh-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-5 my-4 py-0">
          <div class="card shadow-2-strong" style="border-radius: 1rem; border:none">
            <div class="card-body p-4 text-center">

                {%block titulo%} 
                <h3 class="mb-4">Entrar</h3>
                {%endblock titulo%}

                {%block div-input%}
                {%endblock div-input%}
  
              <div class="form-outline mb-2 text-start">
                <label class="form-label dark-text" for="typeEmailX-2">Email</label>
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              </div>
              
              {% block input-data %}
              {% endblock input-data %}

              <div class="form-outline mb-3 text-start">
                <label class="form-label dark-text" for="typePasswordX-2">Senha</label>
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              </div>

              {% block input-senha %}
              {% endblock input-senha %}

              {% block register %}
              <div>
                <p class="dark-p">Não tem uma conta? <a class="fw-bolder" href="{% url 'cadastro' %}">Criar nova conta</a>
                </p>
              </div>
              {% endblock register %}
              
              {% block btn%}
              <form action="{% url 'biblioteca' %}">

                  <button class="btn btn-primary btn-lg btn-block btn-dark-secondary" type="submit">Entrar</button>
              </form>
              {% endblock btn%}

  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {%endblock section%}

