{% extends './layouts/base.html' %}
{% load static %}
{% block styles %}
{% endblock styles %}
{% block header %}
<header id="home" class="hero-area">
  <div class="overlay">
    <span></span>
    <span></span>
  </div>
  <div class="container pb-5">
    <div class="row space-100">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="contents yellow-font">
          <h2 class="head-title font-sizing" aria-label="A ferramenta que é sua aliada!" tabindex="0">A ferramenta que é sua aliada!</h2>
          <p class="font-sizing" aria-label="Adicione seus livros a uma biblioteca (especial)mente para você na palma da sua mão" tabindex="0">Adicione seus livros a uma biblioteca (especial)mente para você na palma da sua mão.</p>
          <div class="header-button">
            <a href="{% url 'auth.login' %}" class="btn btn-terciary fw-bold h-100 p-2 font-sizing" tabindex="0" aria-label="Entrar no sistema">Entrar</a>
            <a href="#services" class="btn btn-border fw-bold h-100 p-2 btn-lg btn-sm font-sizing" tabindex="0" aria-label="Mais informações sobre o site">Mais informações</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 p-0">
        <div class="intro-img">
          <img src="{% static 'images/reading-phone.png' %}" alt="Imagem de uma pessoa usando uma biblioteca pelo celular">
        </div>
      </div>
    </div>
  </div>
</header>
<!-- <hr> -->
{% endblock header%}

{% block section %}
<section id="services" class="section my-5">
  <div class="container fw-bolder">

    <div class="row">
      <div class="serv-card col-12 col-md-12 col-lg-4 col-sm-12 my-2">

        <div class="services-item text-center h-100 m-0" tabindex="0">
          <div class="icon">
            <i class="bi bi-toggles" aria-label="Ícone de um troca de tema" tabindex="0"></i>
          </div>
          <h4 tabindex="0" aria-label="Alto contraste" class="font-sizing">Alto contraste</h4>
          <p tabindex="0" aria-label="Use o nosso tema de alto contraste para ter uma leitura menos cansativa." class="font-sizing">Use o nosso tema de alto contraste para ter uma leitura menos cansativa.</p>
        </div>
      </div>

      <div class="serv-card col-12 col-md-12 col-lg-4 col-sm-12 my-2">
        <div class="services-item text-center h-100 m-0" tabindex="0">
          <div class="icon">
            <i class="bi bi-type" aria-label="Ícone indicando mudança no tamanho da fonte" tabindex="0"></i>
          </div>
          <h4 aria-label="Tamanho da fonte" tabindex="0" class="font-sizing">Tamanho da fonte</h4>
          <p tabindex="0" aria-label="Altere o tamanho da fonte e deixe o site na sua preferência para ler." class="font-sizing">Altere o tamanho da fonte e deixe o site na sua preferência para ler.
          </p>
        </div>
      </div>

      <div class="serv-card col-12 col-md-12 col-lg-4 col-sm-12 my-2">
        <div class="services-item text-center h-100 m-0" tabindex="0">
          <div class="icon">
            <i class="bi bi-journals" aria-label="ícone de um livro" tabindex="0"></i>
          </div>
          <h4 tabindex="0" aria-label="Biblioteca" class="font-sizing">Biblioteca</h4>
          <p tabindex="0" aria-label="Converta e guarde seus livros preferidos em pdf tudo em apenas um lugar." class="font-sizing">Converta e guarde seus livros favoritos em pdf tudo em apenas um lugar.</p>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock section %}

{% block footer %}
<footer>

  <!-- Footer Area Start -->
  <section id="footer-Content" class="dark-footer">
    <div class="container container-fluid fw-bolder">
      <!-- Start Row -->
      <div class="row">

        <div class="col-12 col-md-5 col-sm-4 col-lg-4">
          <div class="footer-logo col-12">
            <img src="{% static 'images/logo/logo2.svg' %}" alt="Logo do site" aria-label="Biblioteca especial" tabindex="0">
          </div>
        </div>
        <!-- Start Col -->
        <div class="col-10 col-md-12 col-lg-4 col-sm-12">
          <div class="widget">
            <h4 class="block-title font-sizing" tabindex="0" aria-label="Sobre a biblioteca especial">Sobre a biblioteca especial</h4>
            <p class="font-sizing" tabindex="0" aria-label="Um software desenvolvido por uma instituição pública para quem busca por acessibilidade ao ler.">Um software desenvolvido por uma instituição pública para quem busca por acessibilidade ao ler.</p>
          </div>
        </div>
        <div class="col-10 col-md-12 col-lg-4 col-sm-12">
          <div class="widget">
            <h4 class="block-title font-sizing" tabindex="0" aria-label="Informações técnicas">Informações técnicas</h4>
            <p class="font-sizing" tabindex="0" aria-label="Programado em DJANGO">Programado em DJANGO </p>
            <p class="font-sizing" tabindex="0" aria-label="Responsáveis: Alunos do IFRN">Responsáveis: Alunos do IFRN - CA</p>
            <p class="font-sizing" tabindex="0" aria-label="Data de finalização: 04/11/2022">Data de finalização: 04/11/2022 </p>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- Copyright Start  -->

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p class="text-center opacity-50 font-sizing">Copyright &copy; Biblioteca Especial 2022</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright End -->
  </section>
  <!-- Footer area End -->

</footer>

{% endblock footer%}