{% extends "base.html" %}

{% load static %}

{% block section %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<section class="v-100 fw-bolder py-5 b-section">
  <div class="container pt-4 vh-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-10 col-sm-10 col-md-8 col-lg-6">
        <div class="card shadow-2-strong col-xs-4" tabindex="0" style="border-radius: 1rem; border:none">
          <div class="card-body p-4 text-center">

            {%block titulo%}
            <div class="mb-2">

              <span><i style="font-size:35px" class="bi bi-book" tabindex="0"></i> </span>
              <h3 class="mb-2 dark-text" tabindex="0" aria-label="Bem vindo de volta!">Bem vindo de volta!</h3>
              <p class="fw-normal sub-p" tabindex="0" aria-label="Insira seus dados para acessar sua conta">Insira seus dados para acessar sua conta</p>
            </div>
            {%endblock titulo%}

            {%block div-input%}
            {%endblock div-input%}

            <div class="form-outline mb-2 text-start">
              <label class="form-label dark-text" for="email" tabindex="0">Email</label>
              <input type="email" id="email" class="form-control form-control-lg" tabindex="0" />
            </div>

            {% block input-data %}
            {% endblock input-data %}

            <div class="form-outline mb-3 text-start">
              <label class="form-label dark-text" for="password">Senha</label>
              <input type="password" id="password" class="form-control form-control-lg" />
            </div>

            {% block input-senha %}
            {% endblock input-senha %}

            {% block register %}
            <div tabindex="0">
              <p class="dark-p py-5" tabindex="0">Não tem uma conta? <a class="fw-bolder" href="{% url 'cadastro' %}">Criar nova conta</a>
              </p>
            </div>
            {% endblock register %}

            {% block btn%}
            <form action="{% url 'biblioteca' %}">

              <button class="btn btn-terciary  btn-dark-primary fw-bold" type="submit">Entrar</button>
            </form>
            {% endblock btn%}


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock section%}