/* ..................................................................................................... */
/* ALTO CONTRASTE */
/* .contrast nav, */
.contrast,
/* .contrast div, */
/* .contrast li, */
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}


.contrast h1,
.contrast h2,
.contrast h4,
.contrast h5,
.contrast h6,
/* .contrast p, */
/* .contrast label, */
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast b,
.contrast u {
    color: rgb(255, 255, 255) !important;
}

.contrast span { 
    color: black;
}


/* .contrast button, 
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}*/


.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: rgb(255, 255, 255) !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast i, a, .dark-p, 
.contrast h3, .dark-text{
    color: #000;
}

.contrast input[type=text] {
    color: white;
}


.nav-link {
    color: #000;
}

.contrast .btn-dark-secondary {
    border: 2px solid grey;
    background-color: rgb(90, 87, 87);
    color: yellow;
}

.contrast .btn-dark-secondary:hover {
    border: 2px solid grey;
    background-color: rgb(102, 98, 98);
    color: yellow;
}

.contrast .btn-dark-primary {
    background-color: rgb(0, 0, 0);
    border: #000;
    color: yellow;
}

.contrast .btn-text-color {
    color: yellow;
}

/* .contrast a {
    color: black;
} */


.contrast nav, .contrast .dropdown-menu{
    /* background: -webkit-linear-gradient(to left, #00ffd5 50%, #4ef1bb 100%);
    background: linear-gradient(95deg, rgba(0,211,255,1) 0%, rgba(0,255,222,1) 44%, rgba(51,255,201,1) 100%); */
    background-color: #00ffd5;
}

.contrast .card {
    /* border-image: linear-gradient(#b200df, #48ff00) 60; */
    /* background: -webkit-linear-gradient(to left, #00ffd5 50%, #4ef1bb 100%); */
    /* border-image: linear-gradient(#01b3d6 30%,#00f7ff 55%, #00ffbb 100%) 60; */
    /* border-image: linear-gradient(#00ffbb 30%, #00f7ff 55%, #01b3d6 100%) 60;
    border-width: 4px;
    border-style: solid; */

    /* background: 
    linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent; */

    /* box-shadow: 2px 2px 30px 2px lightcyan; */

    border-left: 8px solid white;
    border-style: dotted ;

}

.constrast .navbar {
    box-shadow: 15px 10px 8px 2px #4205a5;
}

/* .contrast .dark-p {
    color: #000;
} */

.contrast .dropdown-item:hover, .dropdown-item:focus,
.contrast #toggleDark:hover {
    color: #1e2125;
    background-color: #06d8b5;
    border-radius: 50px;
  }

  .contrast #toggleDark {
     /* margin-left: 5px; */
  }