{% extends "layouts/base.html" %}

{% load static %}

{% block section %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<section class="fw-bolder b-section py-5">
  <div class="container" style="max-width: 675px;"> 
    <div class="card shadow-2-strong col-xs-4" style="border-radius: 1rem; border:none">
      <div class="card-body p-4 text-center m-5">
        <div class="mb-5">
          <span><i style="font-size:48px" class="bi bi-book"></i> </span>
          <h4 class="mb-3 login-title font-sizing" tabindex="0" style="color: black;">Bem vindo de volta!</h4>
          <p class="fw-normal font-sizing" style="color: gray" tabindex="0">Insira seus dados para acessar sua conta</p>
        </div>

        <form method="post">
          {% csrf_token %}
          <div class="form-outline mb-3 text-start">
            <label class="form-label dark-text font-sizing" for="id_email" tabindex="0">Email</label>
            <input type="email" name="email" id="id_email" class="form-control form-control-lg" maxlength="255" required />
          </div>

          <div class="form-outline mb-3 text-start">
            <label class="form-label dark-text font-sizing" for="id_password" tabindex="0">Senha</label>
            <input type="password" name="password" id="id_password" class="form-control form-control-lg" autocomplete="current-password" required/>
          </div>

          <button class="btn btn-terciary btn-dark-terciary fw-bold my-4 font-sizing" type="submit">ENTRAR</button>
          <div>
            <p class="dark-p font-sizing" tabindex="0">Não tem uma conta? <a class="fw-bolder font-sizing" href="{% url 'auth.register' %}">Criar nova conta</a>
            </p>
          </div>
        </form>

      </div>
    </div>
     
  </div>
</section>

{%endblock section%}