{% extends 'layouts/base.html' %}
{% block section %}

<div class="text-center m-4">
  <h2 class="fw-bolder">Dados pessoais</h2>
</div>

<form class="col-md-6 offset-md-3 my-3 fw-bolder"  method="POST">
  {% csrf_token %}
  {% if form.errors %}
    <div class="alert alert-danger" autofocus="true" tabindex="0">
        {{ form.errors }}
    </div>
  {% endif %}
  {% for field in form %}
    <div class="form-outline mb-2">
      <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
      {{ field }}
    </div>
  {% endfor %}
  <div class="container py-4">
    <div class="text-center">
      <button class="btn btn-outline-dark mt-auto fw-bold btn-dark-secondary" type="submit">Salvar</button>
    </div>
  </div>
</form>
{% endblock section %}